{{- $name := promptStringOnce . "name" "Your full name" "" -}}
{{- $email := promptStringOnce . "email" "Your email address" "" -}}
{{- $machineType := promptStringOnce . "machine_type" "Machine type (macbook/mac-mini)" "macbook" -}}

encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1agtsh9jxq93rdl68mtjmf9g8qwp3da89xdvkdculnv894aepd4us4m5rdm"

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    machine_type = {{ $machineType | quote }}
