" Normal mode key remappings
nnoremap h n
nnoremap j e
nnoremap k i
nnoremap l o

" Normal mode 'm' to enter insert mode
nnoremap m i

" Remap 'i' and 'e' for relative line movements
nnoremap i k
nnoremap e j

" Remap 'o' and 'n' for relative character movements
nnoremap o l
nnoremap n h
