{{ .chezmoi.homeDir }}/.config/hypr/hyprland.lua
{{ .chezmoi.homeDir }}/.zen/omarchy/prefs.js
/var/lib/dotfiles-ai/{{ .chezmoi.username }}/codex/auth.json
/var/lib/dotfiles-ai/{{ .chezmoi.username }}/xdg/data/opencode/auth.json
/var/lib/rustdesk-server/id_ed25519
/var/lib/samba/private/passdb.tdb
